head {
lang="en";	
}

*{
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'raleway' , sans-serif;
	text-align: center;
	
}

img {
	max-width: 100%;
	height: auto;
}

.logo{
	width:15rem;
	height:13rem;
	position: relative;
    left: 7em;
}

.container1 {
	width:95%;
	margin: auto;
}
/*typogoraphy*/

h1 {
	font-weight: 300;
	font-size:2.0rem;
	padding-top: 2.5em;
	font-family: Century Gothic;
	letter-spacing: 5px;
	
}

h3 {
	font-weight: 300;
	font-size:2.0rem;
	padding-top: 2em;
	font-family: Century Gothic;
	letter-spacing: 5px;
	
}

.title{
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight:900;
	margin-top: -5em;
}

.title span{
	font-weight: 300;
	display: block;
	font-size: .5em;
}

/*BUTTONS*/
.button1 {
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px;
	padding: .5em 1.5em;
    position: relative;
    top: 22em;
    left: 19em;	
}

.button1-small {
	color: black;
}*/

.button2-small {
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 2px;
}

.button2-small:hover {
	background: grey;
}


.button1-small:hover,.button1-small:focus {
	background:#fffaef;
	color: #232323;
	border-color: #00ff6c;
}

.button3{
	display: inline-block;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px;
	border-color: black;
	padding: .5em 1.5em;
	color: white;
}

.button3:hover{
	background:#fffaef;
	color: #232323;
	border-color: #00ff6c;
}

/* HEADER */
header{
	position:absolute;
	left:0;
	right:0;
	margin-top: 1em;
	margin: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: #000000;
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

/*@media(min-width:60rem){
	.logo {
		float: left;
	}
	
	nav {
		float: right;
	}
	} */

/*home area */
.home-area{
	background-image: url('../assets/stripes.jpg');
	background-size:cover;
	background-position: center;
	padding-top: 25em;
	height: 25rem;

}
/*womans page */
.home-areaw{
	background-image: url('../assets/stripes.jpg');
	background-size:cover;
	background-position: center;
	padding: 10em 0;
	height: 25rem;
}
/* mens page */
.home-aream{
	background-image: url('../assets/stripes.jpg');
	background-size:cover;
	background-position: center;
	padding: 10em 0;
	height: 25rem;
}

/*@media (min-width: 60rem){
	.home-area{
		height: 100vh;
		padding-top: 35vh
	}
}*/

.home-text-box {
	background-color: #ADD8E6;
	padding: 5em;
	width: 100vw;
	margin-left: 0em;
	margin-top: 8.5%;
	outline: 2px solid grey;
	outline-offset: -3em;
	color: black;
	position: relative;
}

.home-text-box h1{
	color: black;
	position: absolute;
	top: .75em;
	background: #ADD8E6;
	padding: 0 .25em;
	transform: translateX(-50%);
	left: 50%;	
	
}

/*portfolio*/
.portfolio {
	margin: 3em 0;
}

.port-item {
	margin:0;
	position: relative;
	display: inline-block;
	margin-top: 3rem;
	
	
}

.port-item img {
	display: block;
	height:20em;
	width: 18em;
	border: 2px solid grey;
}


.port-desc {
	position:absolute;
	z-index: 100;
	bottom: 2em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,.75);
	padding:1em;
	padding-bottom: 1em;

}


.port-desc p {
	margin: 1em;
}

.section1 {
	border: 2px black;
}


/* MENS PAGE */
.men-item {
	margin:0;
	position: relative;
	display: inline-block;
}

.men-item img {
	display: block;
	height:20em;
	width: 18em;
	border: 2px solid grey;
}

/* WOMENS PAGE */
.woman-item {
	margin:0;
	position: relative;
	display: inline-block;
}

.woman-item img {
	display: block;
	height:20em;
	width: 18em;
	border: 2px solid grey;
}


.item img{
	float: left;
	left:5em;
	height:30em;
	width: 25em;
	margin: 5rem;
	border: 2px solid grey;
	padding: 1px;
	position: relative;
	display: inline-block;
}

#container2 {
	float: right;
	right:5em;
    height: 30em;
    width: 25em;
    margin: 5rem;
    border: 2px solid grey;
    padding: 1px;
	padding-right: 20px;
    position: relative;
    display: inline-block;
}


/* DROPDOWN BUTTON */
select {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: .5em 1.5em;
	outline: none;
	position: relative;
    top: 23em;
    left: 19em;
}

Option {
	border-radius: 12px;
	font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
	
}

#img1{
	width: 20em;
	height: 23em;
}


/*SCENT CUSTOMISER*/

#scentsect
{
	background-color: white;
    width: 27em;
	height: 26em;
    right: -50em;
    top: -21.5em;
    position: relative;
	border: 2px solid grey;
}

img{
	top: 5em;
	width:23em;
	height:26em;
	left: -12em;
    position: relative;
	border: 2px solid grey;
}
.image
{	
	top: 5em;
	width:23em;
	height:26em;
	left: -18em;
    position: relative;
	border: 2px solid grey;
}

#blue{
	background-color:#ADD8E6;	
	font-size: 1.5em;
	font-family: Snell Roundhand;
	font-style:italic;
    text-align: center;
    cursor: pointer;
    width: 5em;
    height: 2em;
    position: relative;
    left: 37.5em;
    top: -21em;
    padding-top: 7px;
}

#red{
	background-color:#d2204d;	
	font-size: 1.5em;
	font-family: Snell Roundhand;
	font-style:italic;
    text-align: center;
    cursor: pointer;
    width: 5em;
    height: 2em;
    position: relative;
    left: 37.5em;
    top: -20em;
    padding-top: 7px;
}

#purple{
	background-color:#3b0b30;
	font-size: 1.5em;
	font-family: Snell Roundhand;
	font-style:italic;
    text-align: center;
    cursor: pointer;
    width: 5em;
    height: 2em;
    position: relative;
    left: 43.5em;
    top: -25em;
    padding-top: 7px;
	color: white;
}
#pink {
	background-color:#FFB6C1;	
	font-size: 1.5em;
    text-align: center;
	font-family: Snell Roundhand;
	font-style:italic;
    cursor: pointer;
    width: 5em;
    height: 2em;
    position: relative;
    left: 43.5em;
    top: -24em;
    padding-top: 7px;
}

/*CANDLE CUSTOMISER*/
#scentsect1{
	background-color: white;
    width: 27em;
	height: 26em;
    right: -50.3em;
    top: -50.5em;
    position: relative;
	border: 2px solid grey;
}

.image1{	
	top: -24em;
	width:23em;
	height:26em;
	left: -18em;
    position: relative;
	border: 2px solid grey;
}

#black{
	background-color:black;	
	color: white;
	font-size: 1.5em;
	font-family: Snell Roundhand;
	font-style:italic;
    text-align: center;
    cursor: pointer;
    width: 5em;
    height: 3em;
    position: relative;
    left: 40.5em;
    top: -37.5em;
    padding-top: 7px;
}

#red1{
	background-color:#d2204d;	
	font-size: 1.5em;
	font-family: Snell Roundhand;
	font-style:italic;
    text-align: center;
    cursor: pointer;
    width: 5em;
    height: 2em;
    position: relative;
    left: 43.5em;
    top: -43em;
    padding-top: 7px;
}
#pink1 {
	background-color:#FFB6C1;	
	font-size:2em;
	font-size: 1.5em;
	font-family: Snell Roundhand;
	font-style:italic;
    text-align: center;
    cursor: pointer;
    width: 5em;
    height: 2em;
    position: relative;
    left: 37.5em;
    top: -45em;
    padding-top: 7px;
}

/*QUIZ*/
#quiz{
	margin-left: 10em;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
}

input {
	margin-bottom: 20px;
}
#button4 {
	border: black;
	border-radius: 5px;
	padding:10px;
	color: black;
	background: white;
	font-size: 14px;
	margin-top: 15px;
	transition-duration: .5s;
}

#button4:hover{
	background:grey;
	color: white;
	border: black;
	border-radius: 5px;
	cursor: pointer;
}

#after-submit{
	
	visibility: hidden;
	margin-top: 75px;
	padding: 10px 20px 10px 20px;
	width: 400px;
	height: 529px;
	border-radius: 20px;
	border: black;
	float: right;
	margin-right: 10em;
	font-size: 30px;
	background: #F6EEC0;
}

#picture {
	width: 10em;
	height: 10em;
}

/*ICCONS*/
.basket {
	height: 4em;
    width: 3.5em;
    top: -8.5em;
    position: relative;
    left: 25em;
}

.help {
	height: 3.5em;
    width: 3.5em;
    position: relative;
    top: -8.8em;
    left: 24.5em;
}

.facebook {
	height: 3.5em;
    width: 3.5em;
    position: relative;
    top: -8.8em;
    left: 24.5em;
}

.twitter{
	height: 3em;
    width: 3em;
    position: relative;
    top: -8.9em;
    left: 24.5em;
}
/*CONTACT PAGE*/
#contact {
    border-radius: 12px;
    padding: 5em;
    width: 35em;
    position: relative;
    top: 5em;
    left: 24em;
	margin-bottom: 10em;
	background: lightblue;
}

/*SIGN-IN AND REGISTER*/
.register{
	width: 24em;
	height: 20em;
	background-color: lightgrey;
	position: relative;
	float: right;
	right: 6em;
    padding-top: 2em;
    margin: 5em;
	border-radius: 12px;
	font-family: "Century Gothic";
	letter-spacing: 5px;
}
.sign_in{
	width: 24em;
	height: 20em;
	background-color: lightgrey;
	position: relative;
	float:left;
	left: 6em;
    padding-top: 2em;
    margin: 5em;
	border-radius: 12px;
	font-family: "Century Gothic";
	letter-spacing: 5px;
}
form{
	background: lightgrey;
	width: 50%;
	margin-top: 2em;
	position: relative;
    left: 6em;
}

#submit{
	position:relative;
}
	
.password {
	position:relative;
	left: 10em;
}

#username {
	
}

/*GEO-LOCATION*/

 #map {
    height: 400px;
    width: 80%;
	margin: 5em;
	left: 5em;
}

#social {
	position: relative;
    right: 24em;
	bottom: -10.2em;
	display: block;
}

#footer{
	height: 70px;
	width: 100%;
	background-color:#ADD8E6;
	position: relative;
    bottom: -36em;
	
}